/* CSS Document */
.header-design {
	color: #FFFFFF;
	background-color: #063C5E;
	width: auto;
	height: 400px;
}



.button-column {

    display: flex;
  
    flex-direction: column; /* Arrange items vertically */
  
    align-items:  center; /* Center items horizontally */
  }
   
  
   
  .edit-button, .delete-button {
  
    margin-bottom: 5px; /* Add spacing between buttons */
  
  }
  
 
  
 .comic {
    width: 100%;
    height: auto;
    border:  1px solid #000;
    border-collapse: collapse;
    
 }
.comic th {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #063C5E;
    color: white;
}
.comic td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    background-color: #063C5E;
    color: white;
}
.main-content {
    background-image: linear-gradient(#fff 0.1%, #671f61,#480c42, #31022a 0.1%);
    border-bottom: 4px solid #fccf14;
    width: 200%;
	  height: auto;

}




	





body {
    background-color: #FFFFFF
    width: 100%;
    max-width: 100vw;
    margin: 0;
    overflow-x: hidden; 
}



 



	


/*ONLY THE BOTTOM HAS A YELLOW BORDER*/





.footer-design {
    color: white;
    background-color: #063C5E;
    border-top: #FCCF14;
    border-style: solid;
}
